extends layout

block content
  include alert.jade
  - if (!user)
    .hero-unit
      h4 welcome deerSYS
      p it is a node system
      p
        a.btn.btn-primary(href="/login") login
        a.btn.btn-info(href="/reg") register
        //a.btn.btn-info(href="/mobileReg") mobileReg
        //a.btn.btn-warning.btn-large(href="/WXtest") WXtest
  - else
    include ./say.jade
  include ./posts.jade
  .row
    .span4
      h3  builder: Deer Young
      p Welcome
      
