extends layout
block content
   include alert.jade
   button.btn.btn-info(style="position: fixed;right:0px;" onclick="refresh()") refresh
   form.form-horizontal(method="post")
      fieldset
         legend money account
         .control-grouo
            label.control-label(for="number") number
            .controls
               input.input-xlarge#number(type="number" name="number")
         .control-grouo
            label.control-label(for="time") time
            .controls
               input.input-xlarge#time( type="text" name="time" readonly="true")
         .control-group
            label.control-label(for="type") type
            .controls
               select.selectpicker#type(title='Choose one of the following...' name="type" data-width="100%")
                  option shop
                  option food
                  option other
         .form-actions
            button.btn.btn-primary(type="submit") account
            button.btn.btn-warning(type="submit" onclick="beforeSearch()") search
            input#isSearch(type="hidden" name="isSearch")

   include ./tableAccount.jade
block scripts
   script(src="/javascripts/jquery-1.10.1.min.js")
   script(src="/javascripts/managerMoney.js")


