extends layout
block content
   include alert.jade
   button.btn.btn-info(style="position: fixed;right:0px;" onclick="refresh()") 刷新
   form.form-horizontal(method="post")
      fieldset
         legend 记账本
         .control-grouo
            label.control-label(for="number") 金额
            .controls
               input.input-xlarge#number(type="number" name="number")
         .control-grouo
            label.control-label(for="time") 时间
            .controls
               input.input-xlarge.datepicker#time( type="text" name="time")
         .control-group
            label.control-label(for="type") 用途
            .controls
               select.selectpicker#type(title='Choose one of the following...' name="type" data-width="100%")
                  option shop
                  option food
                  option other
                  -for (var i = 0; i < typeList.length; i++)
                     option=typeList[i].useType
               button.btn.btn-info(type="button" onclick="editType()") 编辑用途
         .form-actions
            button.btn.btn-primary(type="submit") 记一笔
            button.btn.btn-warning(type="submit" onclick="beforeSearch()") 搜索
            input#isSearch(type="hidden" name="isSearch")

   include ./tableAccount.jade
   #editTypeModal.modal.fade.hide(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
         .modal-content
            .modal-header
               button.close(data-dismiss="modal" aria-hidden="true" type="button") &times;
               h4.modal-title#modalTitle 用途编辑
            .modal-body
               span 用途：
               input#editType
               &nbsp
               button.btn.btn-info(type="button" onclick="addType()") 增加用途
               hr
               table.table-striped(data-toggle="table" data-pagination="true")
                  thead
                     tr
                        th(data-field="type" data-width="50%" data-align="center") 用途
                        th(data-field="operate" data-width="50%" data-align="center") 操作
                  tbody#typeList
            .modal-footer
               button.btn.btn-default(data-dismiss="modal" type="button") 关闭
block scripts
   script(src="/javascripts/managerMoney.js")


